
      <footer class="footer">
        <div class="footer__addr">
          <h1 class="footer__logo"><img src="/images/logo.png" style="height: 50px; width: 120px;"></h1>
              

        </div>
        
        <ul class="footer__nav">
          <li class="nav__item">
            <h2 class="nav__title">Pages</h2>
      
            <ul class="nav__ul">
              <li>
                <a href="#">Marketplace</a>
              </li>
      
              <li>
                <a href="#">About NFTs</a>
              </li>
                  
              <li>
                <a href="#">Collections</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item nav__item--extra">
            <h2 class="nav__title">Marketplace</h2>
            
            <ul class="nav__ul nav__ul--extra">
              <li>
                <a href="#">Gaming</a>
              </li>
              
              <li>
                <a href="#">Digital Art</a>
              </li>
              
              <li>
                <a href="#">Music</a>
              </li>
              
              <li>
                <a href="#">Fashion</a>
              </li>
              
              <li>
                <a href="#">Artificial Intelligence</a>
              </li>
              
              <li>
                <a href="#">Modern Art</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item">
            <h2 class="nav__title">Team</h2>
            
            <ul class="nav__ul">
              <li>
                <a href="#">Support</a>
              </li>
              
              <li>
                <a href="#">About Us</a>
              </li>
              
              <li>
                <a href="#">Contact Us</a>
              </li>
            </ul>
          </li>
        </ul>
        
        <div class="legal">
          <p>&copy; 2023 November. All rights reserved.</p>
          
          <div class="legal__links">
            <span>Made with <span class="heart">♥</span> by Nurbakyt, Aruzhan, Mariyam</span>
          </div>
        </div>
      </footer>


</body>
</html>