<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="/images/icon.ico">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="/styles/style.css" rel="stylesheet">
    <title>NFT Star | Blockchain dApp</title>
</head>
<body>
    <div class="container">
        <div class="logo"><img src="images/logo.png" class="navbar-brand-image "></div>
        <div class="menu-icon"><i class="fas fa-bars menu-icon-white"></i></div>        
        <div class="search-bar">
            <div class="search-icon"><i class="fa fa-search search-icon" aria-hidden="true"></i></div>
            <div class="search-text">Search collection by name...</div></div>
        </div>


        <img class="main-image" src="https://via.placeholder.com/146x67" alt="Main Image" />
        <% if (req.isAuthenticated()) { %> 
            <p class="balance"><%=req.user.balance %> ETH</p>
            <a href="/profile" ><img class="register-button2"src="<%=req.user.avatar %>"></a>
            <form action="/logout" method="post"> 
               <div class="register-button"><button class="sign-button" style="background-color: transparent; color: white; font-family: Kanit; font-size: large; border: none;">Logout</button></div>
            </form>
        <% }else{ %>
            <a href="/register" class="sign-button"><div class="register-button">Register</div></a>
            <a href="/login" class="sign-button"><div class="login-button">Login</div></a>
            <% } %>

    </div>



    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
