<%- include("header") %>

<div class="firstRow">
    <div class="background"></div>
    <button type="button" class="button-box" >
        <a href="/login">
        <div class="button-bg"></div>
        <div class="button-text">Explore Now</div>
    </a>
    </button>
    <div class="content-box">
        <div class="text">
            <span>Discover, create, buy, and sell</span>
            <span class="bold-text">NFTs</span>
            <span>with ease. Whether you're an artist looking to mint your creations or a collector seeking the next gem for your digital vault.</span>
        </div>
        <div class="title">Welcome to NFT Star!</div>
    </div>
    <img src="/images/firstRowImage.png" alt="Placeholder Image" class="firstRow-image">
</div>
<div style="color:white; height: 30px; padding-top: 40%; padding-left: 5%;"><h1>Popular NFTs</h1></div>
<section class="articles">
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="https://picsum.photos/id/1011/800/450" alt="" />
        </figure>
        <div class="article-body">
          <h2>This is some title</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
          <a href="#" class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="https://picsum.photos/id/1005/800/450" alt="" />
        </figure>
        <div class="article-body">
          <h2>This is some title</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
          <a href="#" class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="https://picsum.photos/id/103/800/450" alt="" />
        </figure>
        <div class="article-body">
          <h2>This is some title</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
          <a href="#" class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
  </section>
<br><br>

  <div style="width: 100%; height: 100%; position: relative">
    <div style="left: 30%; top: 0px; position: absolute; text-align: center; color: #C2EDFF; font-size: 80px; font-family: Kanit; font-weight: 500; text-transform: uppercase; word-wrap: break-word">WHY CHOOSE US?</div>
    <div style="width: 1245px; height: 470px; left: 10%; top: 194px; position: absolute">
        <div style="width: 553px; height: 180px; left: 648px; top: 51px; position: absolute">
            <div style="width: 389px; height: 91px; left: 164px; top: 0px; position: absolute; text-align: right; color: white; font-size: 30px; font-family: Kanit; font-weight: 500; word-wrap: break-word"> Secure Wallet Management</div>
            <div style="width: 359px; height: 150px; left: 0px; top: 30px; position: absolute">
                <div style="width: 150px; height: 150px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, #6053EA 0%, #4B8EB3 100%); border-radius: 9999px"></div>
                <div style="width: 214.01px; height: 0px; left: 144.99px; top: 74.23px; position: absolute; border: 5px #4B8EB3 solid"></div>
            </div>
        </div>
        <div style="width: 528px; height: 164px; left: 717px; top: 306px; position: absolute">
            <div style="width: 328px; height: 91px; left: 200px; top: 0px; position: absolute; text-align: right; color: white; font-size: 30px; font-family: Kanit; font-weight: 500; word-wrap: break-word">Ethereum Integration</div>
            <div style="width: 403px; height: 150px; left: 0px; top: 14px; position: absolute">
                <div style="width: 150px; height: 150px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, #6053EA 0%, #4B8EB3 100%); border-radius: 9999px"></div>
                <div style="width: 346px; height: 0px; left: 140px; top: 75px; position: absolute; border: 5px #4B8EB3 solid"></div>
            </div>
        </div>
        <div style="width: 574px; height: 150px; left: 0px; top: 6px; position: absolute">
            <div style="width: 328px; height: 91px; left: 0px; top: 0px; position: absolute; text-align: right; color: white; font-size: 30px; font-family: Kanit; font-weight: 500; word-wrap: break-word">Creations of NFTs.</div>
            <div style="width: 406px; height: 150px; left: 168px; top: 0px; position: absolute">
                <div style="width: 150px; height: 150px; left: 256px; top: 0px; position: absolute; background: linear-gradient(180deg, #6053EA 0%, #4B8EB3 100%); border-radius: 9999px"></div>
                <div style="width: 275.02px; height: 0px; left: 0px; top: 75px; position: absolute; border: 5px #4B8EB3 solid"></div>
            </div>
        </div>
        <div style="width: 573px; height: 150px; left: 67px; top: 231px; position: absolute">
            <div style="width: 328px; height: 91px; left: 0px; top: 0px; position: absolute; text-align: right; color: white; font-size: 30px; font-family: Kanit; font-weight: 500; word-wrap: break-word">Buy & sell NFTs</div>
            <div style="width: 348px; height: 150px; left: 225px; top: 0px; position: absolute">
                <div style="width: 150px; height: 150px; left: 198px; top: 0px; position: absolute; background: linear-gradient(180deg, #3864E8 0%, #4B8EB3 100%); border-radius: 9999px"></div>
                <div style="width: 200px; height: 0px; left: 0px; top: 75px; position: absolute; border: 5px #4B8EB3 solid"></div>
            </div>
        </div>
        <div style="width: 48px; height: 116px; left: 475px; top: 30px; position: absolute; color: white; font-size: 80px; font-family: Kadwa; font-weight: 400; word-wrap: break-word">1</div>
        <div style="width: 48px; height: 116px; left: 699px; top: 107px; position: absolute; color: white; font-size: 80px; font-family: Kadwa; font-weight: 400; word-wrap: break-word">2</div>
        <div style="width: 48px; height: 116px; left: 769px; top: 350px; position: absolute; color: white; font-size: 80px; font-family: Kadwa; font-weight: 400; word-wrap: break-word">4</div>
        <div style="width: 48px; height: 116px; left: 541px; top: 253px; position: absolute; color: white; font-size: 80px; font-family: Kadwa; font-weight: 400; word-wrap: break-word">3</div>
    </div>
</div>

<br><br>      <br><br>     <br><br>     <br><br>     <br><br>     <br><br>     <br><br>     <br><br>     <br><br> 
<br><br>     <br><br>     <br><br>     <br><br>     <br><br>     <br><br>     <br><br>     <br><br> 
    <%-include("footer")%>
